.contact-hero {
    padding: 80px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;

    &__content {
        width: 40%;
        color: white;
    }
}

.contact-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    @include responsive (max, 991px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .left {
        width: calc((100% / 2) - 15px);
        @include responsive (max,911px) {
            width: 100%;
        }
        .contact-card {
            background-color: $color-primary;
            border-radius: 32px;
            padding: 40px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            @include responsive (max, 991px) {
                padding: 10px;
            }
            
        }

        .text-section {
            margin-bottom: 40px;
        }

        .text-section h1 {
            font-size: 32px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 10px;
            @include responsive (max, 991px) {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .text-section p {
            font-size: 16px;
            font-weight: 400;
            color: #E6E6E6;
        }

        .contact-buttons {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 40px;
            @include responsive (max, 991px) {
                gap: 12px;
            }
        }

        .contact-button {
            display: flex;
            align-items: center;
            padding: 16px;
            background-color: #E6E6E6;
            border-radius: 8px;
            font-family: 'Barlow', sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: $color_black_1;
            @include responsive (max, 991px) {
                padding: 10px;
            }
        }

        .contact-button img {
            margin-right: 14px;
            @include responsive (max, 991px) {
                padding: 8px;
            }
        }

        .social-icons {
            display: flex;
            justify-content: center;
            gap: 24px;
            @include responsive (max, 991px) {
                gap: 12px;
            }
        }

        .social-icons img {
            width: 24px;
            height: 24px;
        }
    }

    .right {
        width: calc((100% / 2) - 15px);
        @include responsive (max,911px) {
            width: 100%;
        }
        .contact-form {
            background-color: $color_white;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include responsive (max,991px) {
                padding: 10px;
            }
        }

        .input-pair {
            display: flex;
            gap: 24px;
            @include responsive (max, 991px) {
                gap: 12px;
            }
        }

        .input-field {
            display: flex;
            flex-direction: column;
            flex: 1;
            background-color: #E6E6E6;
            padding: 16px;
            border-radius: 8px;
        }

        .input-field label {
            font-weight: 500;
            margin-bottom: 8px;
            font-size: 18px;
            color: #1E1E1E;
        }

        .input-field input,
        .input-field textarea {
            font-family: 'Barlow', sans-serif;
            font-size: 16px;
            width: 100%;
            padding: 8px 0;
            border: none;
            background: none;
            outline: none;
            color: #1E1E1E;
            border-bottom: 1px solid $color-black_1;
        }

        .input-field input::placeholder,
        .input-field textarea::placeholder {
            color: #B3B3B3;
        }

        .message-field {
            background-color: #E6E6E6;
            padding: 16px;
            border-radius: 8px;
        }

        .message-field textarea {
            height: 100px;
            resize: none;
        }

        .submit-button {
            background-color: $color-primary;
            color: #fff;
            padding: 16px;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            align-self: center;
            width: 160px;
            text-align: center;
        }
    }
}