.home_page_hero_sec {
  margin-top: 39px;

  height: 452px;
  margin-bottom: 205px;
  @include responsive(max, 425px) {
    height: auto;
  }
  .hero_container {
    height: 100%;
    border-radius: 38px;
    // background-image: url("/assets/images/home/hero_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 40px;
    margin-left: 40px;
    @include responsive(max, 425px) {
      margin: 0;
      padding-bottom: 2rem;
    }
  }
  .hero_sec_container {
    padding-left: 48px;

    .hero_welcome {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: $color_white;
      padding-top: 65px;
      margin-bottom: 16px;
    }
    .hero_title {
      font-size: 48px;
      font-weight: 700;
      line-height: 67.2px;
      color: $color_white;
      max-width: 376px;
      margin-bottom: 24px;
      @include responsive(max, 768px) {
        max-width: initial;
      }
    }
    .hero_subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $color_white;
      margin-bottom: 32px;
      max-width: 442px;
      @include responsive(max, 768px) {
        max-width: initial;
      }
    }
    .btns_container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .btn_get_started {
        width: 160px;
        height: 56px;
        padding: 24px 32px;
        color: $color_white;
        margin-right: 8px;
        @include center_flex();
      }

      .btn_watch_video {
        // width: 205px;
        width: auto;
        height: 56px;
        padding: 8px 8px 8px 31px;
        border-radius: 39px;
        background: #f4f4f4;
        font-size: 18px;
        font-weight: 500;
        border: none;
        color: #1e1e1e;
        @include center_flex();
        gap: 8px;
      }
    }
  }

  .scroll_down_cont {
    text-align: center;
    width: fit-content;
    margin: -4px auto;
  }
}

.who_r_bug {
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: $color_primary;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    &::before {
      content: "";
      width: 22px;
      height: 2px;
      border-radius: 30px;
      background-color: $color_primary;
      display: block;
    }
  }
  .hero_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: $color_black_1;
    max-width: 512px;
    margin-bottom: 24px;
  }
  .heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: $color_black_1;
    margin-bottom: 24px;
    max-width: 512px;
    @include responsive(max, 1024px) {
      font-size: 33px;
    }
    @include responsive(max, 768px) {
      max-width: initial;
    }
    @include responsive(max, 425px) {
      font-size: 29px;
    }
    @include responsive(max, 375px) {
      font-size: 27px;
    }

    @include responsive(max, 320px) {
      font-size: 23px;
    }
    .color_primary_profession {
      color: $color_primary;
      position: relative;

      .line_under_word {
        position: absolute;
        bottom: -22px;
        left: -12px;

        @include responsive(max, 1024px) {
          width: 289px;
        }
        @include responsive(max, 425px) {
          bottom: -20px;
          right: -16px;
          width: 257px;
        }
        @include responsive(max, 320px) {
          bottom: -20px;
          right: 0;
          width: 215px;
        }
      }
    }
  }
  .subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: $color_black_50;
    max-width: 581px;
    margin-bottom: 120px;
  }
  .card_container {
    margin-bottom: 64px;
    .icon_container {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 24px;
    }

    .card_title {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      color: $color_black_1;
    }
    .card_subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $color_black_50;
    }
  }
  .color_primary {
    color: $color_primary;
  }
}

.how_it_work {
  background-color: $color_primary;
  color: $color_white;
  * {
    transition: all 0.8s ease-in-out;
  }
  &:hover {
    background-color: $color_white;
    .card_container .card_num {
      border-bottom-color: $color_black_1;
    }
    .card_container .card_num::after {
      content: "";
      display: inline-block;
      width: 174px;
      height: 5px;
      background-color: $color_primary;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .sec_title {
      color: $color_primary;
    }
    .sec_title::before {
      background-color: $color_primary;
    }
    .sec_heading,
    .card_container .card_title {
      color: $color_black_1;
    }
    .new_career {
      color: $color_primary;
    }
    .sec_subtitle,
    .card_subtitle {
      color: #1e1e1e80;
    }

    .num-active {
      fill: $color_black_1;
      fill-opacity: 1;
    }
  }
  .sec_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    padding-top: 51px;
    margin-bottom: 24px;
    @include center_flex();
    gap: 8px;
    &::before {
      content: "";
      width: 22px;
      height: 2px;
      border-radius: 30px;
      background-color: $color_white;
      display: inline-block;
    }
  }
  .sec_heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: $color_white;
    max-width: 675px;
    margin: auto;
    margin-bottom: 24px;
  }
  .sec_subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    max-width: 818px;
    margin: auto;
    margin-bottom: 48px;
  }
  .card_container {
    .card_num {
      font-size: 64px;
      font-weight: 900;
      line-height: 96px;
      border-bottom: 1px solid $color_white;
      position: relative;
    }
    .card_title {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      color: $color_white;
      margin-top: 20px;
      margin-bottom: 8px;
    }
    .card_subtitle {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 51px;
    }
  }
}

.expert_instructor_sec {
  padding-top: 120px;

  .sec_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    max-width: 558px;
    margin-bottom: 16px;
    .experienced {
      border: 2px solid $color_primary;
      border-radius: 60px;
      width: 225.5px;
      height: 72px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 60px;
        border: 2px solid $color_primary;
        margin: 9px;
        border-top: 0;
        border-left: 0;
      }
    }
  }
  .sec_subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: $color_black_50;
    max-width: 554px;
  }
  .slider_container {
    // background-color: gray;
    padding: 32px;
    .quote_text {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      color: $color_black_1;
      max-width: 472px;
    }
    .carousel-control-next,
    .carousel-control-prev {
      position: initial;
      margin-top: 64px;
    }
    .carousel-control-next {
      width: 48px;
      height: 48px;
      padding: 12px;
      border-radius: 6px;
      background-color: $color_primary;
      opacity: 1;
    }
    .carousel-control-prev {
      width: 48px;
      height: 48px;
      padding: 12px;
      border-radius: 6px;
    }
  }
  // .instructor_imgs_container {
  //   width: 711px;
  //   height: 738px;
  //   img {
  //     margin-left: 4rem;
  //   }
  // }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
  .gallery img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .img-container {
    overflow: hidden;
  }
  .img-1 {
    flex: 1 1 100px;
  }
  .img-2 {
    flex: 2 1 150px;
  }
  .img-3 {
    flex: 1 1 150px;
  }
  .img-4 {
    flex: 1 1 271px;
  }
  .img-5 {
    flex: 1 1 234px;
  }
  .img-6 {
    flex: 1 1 150px;
  }
  .img-7 {
    flex: 1 1 150px;
  }
  .img-8 {
    flex: 1 1 150px;
  }
}

.explore_courses_sec {
  .sec_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: $color_primary;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 148px;

    &::before {
      content: "";
      width: 22px;
      height: 2px;
      border-radius: 30px;
      background-color: $color_primary;
      display: inline-block;
      margin-right: 8px;
    }
  }
  .sec_name {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: $color_black_1;
    margin-bottom: 16px;
  }
  .sec_subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: $color_black_50;
    max-width: 481px;
    margin-bottom: 48px;
  }
 
  .btn_explore_container {
    margin-top: 83px;
    text-align: center;
    margin-bottom: 181px;
    .btn_explore {
      width: 216px;
      height: 56px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: $color_black_1;
      border: 1px solid #cccccc;
      box-shadow: 0px 1px 2px 0px #1018280d;
      padding: 16px 24px;
    }
  }

  .owl-carousel .owl-item img {
    display: initial;
    width: initial;
  }

  .owl-item {
    margin-bottom: 2rem;
  }
  .owl-carousel {
    position: relative;

    .owl-dots {
      display: inline-block !important;
      position: absolute;
      bottom: -43px;
      #{$s}: 50%;
      transform: translateX(-1 * 50%);
      border-radius: 4rem;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 4px 8px;

      .owl-dot {
        border: 1px solid transparent;
        padding: 10px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        opacity: 0.5;
        background-color: #cccccc !important;
        transition: all 0.3s ease-in-out;
        margin-inline: 5px;

        &.active {
          width: 48px;
          height: 12px;
          border-radius: 6px;
          opacity: 1;
          background-color: $color_primary !important;
        }
      }
    }

    .owl-stage-outer {
      padding-inline: 1px;
    }
  }
}

.mb_20 {
  margin-bottom: 20px;
}
