/* mixin for responsive it takes 
    type : min or max 
    size : 100px for the width of target screen
*/

@mixin responsive($type, $size) {
  @media (#{$type}-width: $size) {
    @content;
  }
}

@mixin center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


@function scale($value) {
  @return $value * $scale-factor;
}
