// $color_white: #fff;
// $color_black: #000;
// $color_primary: #0b6ea4;
// $color_dark_blue: #181d38;
// $color_light_gray: #52565b;
// $linear_gradient_bg: linear-gradient(
//   180deg,
//   rgba(11, 111, 164, 0.72) 0%,
//   rgba(11, 111, 164, 1) 100%
// );

// $color-secondary: #333333;

// // text
// $main-text: #1f1c14;
// $main-text-50: rgba(31, 28, 20, 0.5);

// $color-title: #1f1c14;
// $color-title-50: rgba(31, 28, 20, 50%);

// // cards
// $card-border: #cccccc;
// $card-desc: #888888;
// $card-raduis: 12px;
