$color_white: #fff;
$color_white_fb: #fbfbfb;
$color_black: #000;
$color_black_1: #1e1e1e;
// $color_black_50: rgba(30, 30, 30, 0.5);
$color_black_50: rgb(20, 20, 20);
$color_black_600: #666666;
$color_black_100: #e6e6e6;

$color_primary: #106ad4;
$color_attractive: #ff5733; // Define an attractive color (bright red-orange, for example)

$scale-factor: 0.75;

// $color_dark_blue: #181d38;
// $color_light_gray: #52565b;
// $linear_gradient_bg: linear-gradient(
//   180deg,
//   rgba(11, 111, 164, 0.72) 0%,
//   rgba(11, 111, 164, 1) 100%
// );

// $color-secondary: #333333;

// // text
// $main-text: #1f1c14;
// $main-text-50: rgba(31, 28, 20, 0.5);

// $color-title: #1f1c14;
// $color-title-50: rgba(31, 28, 20, 50%);

// // cards
// $card-border: #cccccc;
// $card-desc: #888888;
// $card-raduis: 12px;
