p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
}

.whatsapp_icon {
  // border: 1px solid red;
  width: fit-content;
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 100;
  // background-color: #1da851;
  border-radius: 50%;
  img {
    width: 100px;
    height: 100px;
  }
}
