.email_sec {
    height: 401px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 108px;
  
    .title {
      font-size: 48px;
      font-weight: 700;
      line-height: 62.4px;
      letter-spacing: -0.06em;
      color: $color_white;
      margin-bottom: 32px;
    }
    .txt_container {
      padding-left: 48px;
      @include responsive(max, 375px) {
        width: auto;
        padding: 10px;
      }
    }
  
    .input_group {
      width: 328px;
      height: 48px;
      border-radius: 25px;
      background-color: $color_white;
      display: flex;
      align-items: center;
      padding: 8px;
      @include responsive(max, 375px) {
        width: auto;
      }
  
      .email {
        border: none;
        border-radius: inherit;
        outline: none;
        padding-left: 16px;
        width: 75%;
  
        ::placeholder {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: $color_black_50;
        }
      }
  
      .btn_send {
        width: 96px;
        height: 32px;
        padding: 12px;
        border-radius: 25px;
        background-color: $color_primary;
        font-size: 9px;
        font-weight: 500;
        line-height: 13.5px;
        text-align: center;
        color: $color_white;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  